# Traffic accidents

Explore the data to identify data quality issues, like missing values, duplicate data, etc.
Document steps necessary to clean the data

This dataset contains information about Traffic Accident Dataset in US
taken from https://smoosavi.org/datasets/us_accidents

In [1]:
!ls -lh

total 2951888
-rw-r--r--@ 1 davidhidalgo  staff   1.2G Jul  7 09:29 US_Accidents_June20.csv
-rw-r--r--  1 davidhidalgo  staff    38K Dec  2 17:29 traffic_accidens.ipynb
-rwxr-xr-x@ 1 davidhidalgo  staff   157M Sep 20  2019 worldcitiespop.csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("US_Accidents_June20.csv")
df.head(10)

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
5,A-6,MapQuest,201.0,3,2016-02-08 07:44:26,2016-02-08 08:14:26,40.100590,-82.925194,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
6,A-7,MapQuest,201.0,2,2016-02-08 07:59:35,2016-02-08 08:29:35,39.758274,-84.230507,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
7,A-8,MapQuest,201.0,3,2016-02-08 07:59:58,2016-02-08 08:29:58,39.770382,-84.194901,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
8,A-9,MapQuest,201.0,2,2016-02-08 08:00:40,2016-02-08 08:30:40,39.778061,-84.172005,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
9,A-10,MapQuest,201.0,3,2016-02-08 08:10:04,2016-02-08 08:40:04,40.100590,-82.925194,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day

In [4]:
len(df)

3513740

### Searching for duplicated data

#### Searching duplicated data for every row

In [5]:
duplicateDf = df[df.duplicated()]
print("Duplicate Rows based on all columns are :")
print(duplicateDf)

Duplicate Rows based on all columns are :
Empty DataFrame
Columns: [ID, Source, TMC, Severity, Start_Time, End_Time, Start_Lat, Start_Lng, End_Lat, End_Lng, Distance(mi), Description, Number, Street, Side, City, County, State, Zipcode, Country, Timezone, Airport_Code, Weather_Timestamp, Temperature(F), Wind_Chill(F), Humidity(%), Pressure(in), Visibility(mi), Wind_Direction, Wind_Speed(mph), Precipitation(in), Weather_Condition, Amenity, Bump, Crossing, Give_Way, Junction, No_Exit, Railway, Roundabout, Station, Stop, Traffic_Calming, Traffic_Signal, Turning_Loop, Sunrise_Sunset, Civil_Twilight, Nautical_Twilight, Astronomical_Twilight]
Index: []

[0 rows x 49 columns]

#### Searching duplicated data for identifier

In [6]:
duplicateIdDf = df[df.duplicated(['ID'])]
print("Duplicate Rows based on its identifier column are:", duplicateIdDf, sep='\n')

Duplicate Rows based on its identifier column are:
Empty DataFrame
Columns: [ID, Source, TMC, Severity, Start_Time, End_Time, Start_Lat, Start_Lng, End_Lat, End_Lng, Distance(mi), Description, Number, Street, Side, City, County, State, Zipcode, Country, Timezone, Airport_Code, Weather_Timestamp, Temperature(F), Wind_Chill(F), Humidity(%), Pressure(in), Visibility(mi), Wind_Direction, Wind_Speed(mph), Precipitation(in), Weather_Condition, Amenity, Bump, Crossing, Give_Way, Junction, No_Exit, Railway, Roundabout, Station, Stop, Traffic_Calming, Traffic_Signal, Turning_Loop, Sunrise_Sunset, Civil_Twilight, Nautical_Twilight, Astronomical_Twilight]
Index: []

[0 rows x 49 columns]

In [12]:
 df.groupby("TMC")["TMC"].count()

TMC
200.0         66
201.0    2080341
202.0       6298
203.0      17639
206.0       1274
222.0      13154
229.0      22932
236.0       2121
239.0         54
241.0     249852
244.0      12185
245.0      40338
246.0       7118
247.0       4775
248.0       1025
336.0         89
339.0        920
341.0        592
343.0       6930
351.0          6
406.0      11109
Name: TMC, dtype: int64

In [7]:
df.describe()

,TMC,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Number,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,2.478818e+06,3.513740e+06,3.513740e+06,3.513740e+06,1.034922e+06,1.034922e+06,3.513740e+06,1.250786e+06,3.448004e+06,1.645484e+06,3.444049e+06,3.457856e+06,3.437879e+06,3.059127e+06,1.487859e+06
mean,2.080226e+02,2.339935e+00,3.654208e+01,-9.579208e+01,3.755791e+01,-1.004574e+02,2.816462e-01,5.975823e+03,6.193496e+01,5.355749e+01,6.511372e+01,2.974452e+01,9.122668e+00,8.218940e+00,1.598132e-02
std,2.076627e+01,5.522103e-01,4.883511e+00,1.736894e+01,4.861103e+00,1.852878e+01,1.550166e+00,1.496662e+04,1.862108e+01,2.377308e+01,2.275582e+01,8.322425e-01,2.885840e+00,5.262870e+00,1.928187e-01
min,2.000000e+02,1.000000e+00,2.455527e+01,-1.246238e+02,2.457011e+01,-1.244978e+02,0.000000e+00,0.000000e+00,-8.900000e+01,-8.900000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.010000e+02,2.000000e+00,3.363793e+01,-1.174420e+02,3.399487e+01,-1.183450e+02,0.000000e+00,8.640000e+02,5.000000e+01,3.570000e+01,4.800000e+01,2.973000e+01,1.000000e+01,5.000000e+00,0.000000e+00
50%,2.010000e+02,2.000000e+00,3.591703e+01,-9.102632e+01,3.779787e+01,-9.703673e+01,0.000000e+00,2.798000e+03,6.400000e+01,5.700000e+01,6.700000e+01,2.995000e+01,1.000000e+01,7.000000e+00,0.000000e+00
75%,2.010000e+02,3.000000e+00,4.032258e+01,-8.093303e+01,4.105139e+01,-8.210268e+01,1.000000e-02,7.098000e+03,7.590000e+01,7.200000e+01,8.400000e+01,3.009000e+01,1.000000e+01,1.150000e+01,0.000000e+00
max,4.060000e+02,4.000000e+00,4.900220e+01,-6.711317e+01,4.907500e+01,-6.710924e+01,3.336300e+02,9.999997e+06,1.706000e+02,1.150000e+02,1.000000e+02,5.774000e+01,1.400000e+02,9.840000e+02,2.500000e+01

#### Searching for missing data

In [8]:
df.count()

ID                       3513740
Source                   3513740
TMC                      2478818
Severity                 3513740
Start_Time               3513740
End_Time                 3513740
Start_Lat                3513740
Start_Lng                3513740
End_Lat                  1034922
End_Lng                  1034922
Distance(mi)             3513740
Description              3513739
Number                   1250786
Street                   3513740
Side                     3513740
City                     3513628
County                   3513740
State                    3513740
Zipcode                  3512671
Country                  3513740
Timezone                 3509860
Airport_Code             3506982
Weather_Timestamp        3470415
Temperature(F)           3448004
Wind_Chill(F)            1645484
Humidity(%)              3444049
Pressure(in)             3457856
Visibility(mi)           3437879
Wind_Direction           3454863
Wind_Speed(mph)          3059127
Precipitation(in)        1487859
Weather_Condition        3437597
Amenity                  3513740
Bump                     3513740
Crossing                 3513740
Give_Way                 3513740
Junction                 3513740
No_Exit                  3513740
Railway                  3513740
Roundabout               3513740
Station                  3513740
Stop                     3513740
Traffic_Calming          3513740
Traffic_Signal           3513740
Turning_Loop             3513740
Sunrise_Sunset           3513624
Civil_Twilight           3513624
Nautical_Twilight        3513624
Astronomical_Twilight    3513624
dtype: int64

In [9]:
subDF = df.get(["ID", "Source","TMC", "Timezone","Temperature(F)","Stop","Start_Time","End_Time","City", "County", "State", "Zipcode","Description","Weather_Timestamp","Weather_Condition","Start_Lat","Start_Lng"])

In [10]:
preparedDF = subDF.rename(index=str, columns={'Temperature(F)': 'Temperature',
                                              'Start_Lat': 'Latitude',
                                              'Start_Lng': 'Longitude'
                                              })
preparedDF.head(5)

,ID,Source,TMC,Timezone,Temperature,Stop,Start_Time,End_Time,City,County,State,Zipcode,Description,Weather_Timestamp,Weather_Condition,Latitude,Longitude
0,A-1,MapQuest,201.0,US/Eastern,36.9,False,2016-02-08 05:46:00,2016-02-08 11:00:00,Dayton,Montgomery,OH,45424,Right lane blocked due to accident on I-70 Eas...,2016-02-08 05:58:00,Light Rain,39.865147,-84.058723
1,A-2,MapQuest,201.0,US/Eastern,37.9,False,2016-02-08 06:07:59,2016-02-08 06:37:59,Reynoldsburg,Franklin,OH,43068-3402,Accident on Brice Rd at Tussing Rd. Expect del...,2016-02-08 05:51:00,Light Rain,39.928059,-82.831184
2,A-3,MapQuest,201.0,US/Eastern,36.0,False,2016-02-08 06:49:27,2016-02-08 07:19:27,Williamsburg,Clermont,OH,45176,Accident on OH-32 State Route 32 Westbound at ...,2016-02-08 06:56:00,Overcast,39.063148,-84.032608
3,A-4,MapQuest,201.0,US/Eastern,35.1,False,2016-02-08 07:23:34,2016-02-08 07:53:34,Dayton,Montgomery,OH,45417,Accident on I-75 Southbound at Exits 52 52B US...,2016-02-08 07:38:00,Mostly Cloudy,39.747753,-84.205582
4,A-5,MapQuest,201.0,US/Eastern,36.0,False,2016-02-08 07:39:07,2016-02-08 08:09:07,Dayton,Montgomery,OH,45459,Accident on McEwen Rd at OH-725 Miamisburg Cen...,2016-02-08 07:53:00,Mostly Cloudy,39.627781,-84.188354

In [12]:
preparedDF.to_csv("../prepared_datasets/accidents.csv")